html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'header-font';
    src: url(fonts/poppins-extrabold-webfont.woff) format('woff'),
        url(fonts/poppins-extrabold-webfont.woff2) format('woff2');
}
@font-face{
    font-family: 'todo-heading';
    src: url(fonts/poppins-semibold-webfont.woff) format('woff'),
        url(fonts/poppins-semibold-webfont.woff2) format('woff2');

}

@font-face{
    font-family: 'due-date';
    src: url(fonts/poppins-mediumitalic-webfont.woff) format('woff'),
        url(fonts/poppins-mediumitalic-webfont.woff2) format('woff2');
}


@font-face{
    font-family: 'sidebar-project';
    src: url(fonts/poppins-semibolditalic-webfont.woff) format('woff'),
        url(fonts/poppins-semibolditalic-webfont.woff2) format('woff2');
}




:root{
    --main-background:#30323D;
    --secondary-background:#4D5061;
    --todo-card-border:#5C80BC;
    --header-text-color:#CDD1C4;
    --todo-card:#5a5d6f;
    --sidebar-project-list:#bcc3ac;

    --font-project-header: 'header-font';
    --font-todo-heading:'todo-heading';
    --font-due-date:'due-date';
    --sidebar-project:'sidebar-project';
    
}

.main-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    width: 100%;
}
.sidebar{
    position: relative;
    display: grid;
    grid-template-rows: 20vh 80vh;
    align-items: stretch;
    background-color:var(--secondary-background);
}
.add-list{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    grid-template-rows: repeat(2,1fr);
    font-family: var(--sidebar-project);
    color: var(--header-text-color);
}

.add-project,.add-todo{
    border: .2rem dashed #bcc3ac;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.add-list>*:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 100ms;
}

.project-space{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;

}
.project-list{
    display: flex;
    font-family: var(--font-project-header);
    font-size: 2rem;
    color: var(--sidebar-project-list);
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: start;
    padding-left: 1rem;

}

.project-list>:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: 100ms;
    color: #e8ecdf;
}

#container{
    background-color: var(--secondary-background);
    display: grid;
    grid-template-rows: 20vh 80vh;
}

#project-header{

    color:var(--header-text-color);
    font-family: var(--font-project-header);
    font-size: 4rem;
    /* height: 20vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;

}
#todo-container{
    background-color: var(--main-background);
    /* height:80vh ; */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: flex-end;
    align-items: start;
    gap: 2rem;
    padding:3rem;

}

.todo-card{
    height: 40vh;
    width: 20vw;
    background-color: var(--todo-card);
    font-family: var(--font-todo-heading);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 10%;
    padding: 1rem;
    border: .5rem solid var(--todo-card-border);
    border-radius: 1rem;
}

.todo-card:hover{
    transform: scale(1.01);
    transform: 5000ms;
    box-shadow: 1px 1px 20px var(--todo-card-border);
}

.todo-card .due-date{
    font-family: var(--font-due-date);
}

.todo-card .title{
    font-size: 1.5rem;
}



.complete{
    opacity: .5;
    color: var(--main-background);
}

.incomplete{
    color: var(--header-text-color);
}

.complete button{
    background-color: #3DDC97;
}

.incomplete button{
    background-color: #FF495C;
    color: #fffffe;
}

.project-space{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

button{
    height: 2rem;
    padding: .8rem;
    border-radius: 1rem;
    border: none;
    font-family: var(--font-project-header);
    display: flex;
    align-items:center;
}

.incomplete button:hover{
    cursor: pointer;
    box-shadow: .1px .5px 30px #FF495C;
}
.complete button:hover{
    cursor: pointer;
    box-shadow: .1px .5px 30px #3DDC97;
}


form{
    padding: 2rem;
    background-color: #4D5061;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    font-family: var(--font-todo-heading);
    align-items: center;
    justify-content: center;
    padding: .6rem;
}

form input{
    background-color:#61667fdf;
    border-radius: 1rem;
    
}

dialog button:hover{
    cursor: pointer;
    box-shadow: .1px .5px 30px #3ddc9a;
}

#project-dialog{
    background-color: #4D5061;
    border-radius: 1rem;
    font-family: var(--font-todo-heading);
    border: none;
}
.project-div{
    gap: .6rem;
    padding: 1rem;
}


.project-div>input{
    border-radius: 1rem;
    background-color: #5a5d6f;
}
#todo-dialog{
    padding: 0;
    border-radius: 1.5rem;
    border: none;
    
    
}



.todo-card.complete{
    display: none;
}

dialog::backdrop{
    background-color: rgb(34, 34, 34);
}